
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Ad Details</h4>
        </div>
        <div class="modal-body">

            <div class="list-group">
                <a class="list-group-item" data-toggle="collapse" data-target="#ad_errorURLTemplates">
                    <span class="badge">{{ currentAd.errorURLTemplates.length || 0 }}</span>
                    Error URL Templates
                </a>
                <div id="ad_errorURLTemplates" class="collapse" ng-show="currentAd.errorURLTemplates.length > 0">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="url in currentAd.errorURLTemplates">
                            <small ng-bind-html-unsafe="url"></small>
                        </li>
                    </ul>
                </div>

                <a class="list-group-item" data-toggle="collapse" data-target="#ad_impressionURLTemplates">
                    <span class="badge">{{ currentAd.impressionURLTemplates.length || 0 }}</span>
                    Impression URL Templates
                </a>
                <div id="ad_impressionURLTemplates" class="collapse" ng-show="currentAd.impressionURLTemplates.length > 0">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="url in currentAd.impressionURLTemplates">
                            <small ng-bind-html-unsafe="url"></small>
                        </li>
                    </ul>
                </div>

                <a class="list-group-item" data-toggle="collapse" data-target="#ad_creatives">
                    <span class="badge">{{ currentAd.creatives.length || 0 }}</span>
                    Creatives
                </a>
                <div id="ad_creatives" class="collapse">
                    <div ng-repeat="ad in currentAd.creatives">
                        <h5>Tracking Events</h5>
                        <small ng-repeat="url in ad.trackingEvents" ng-bind-html-unsafe="url"></small>

                        <h5>Type</h5>
                        <small>{{ ad.type }}</small>

                        <h5>Duration</h5>
                        <small>{{ ad.duration }}</small>

                        <h5>Skip Delay</h5>
                        <small>{{ ad.skipdelay }}</small>

                        <h5>Media Files</h5>
                        <div ng-repeat="mediaFile in ad.mediaFiles">
                            <input type="text" class="form-control" value="{{ mediaFile.fileURL }}"/>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>Delivery Type</td>
                                        <td>Mime Type</td>
                                        <td>Codec</td>
                                        <td>Bitrate</td>
                                        <td>Min Bitrate</td>
                                        <td>Max Bitrate</td>
                                        <td>Width</td>
                                        <td>Height</td>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>{{ mediaFile.deliveryType }}</td>
                                        <td>{{ mediaFile.mimeType }}</td>
                                        <td>{{ mediaFile.codec }}</td>
                                        <td>{{ mediaFile.bitrate }}</td>
                                        <td>{{ mediaFile.minBitrate }}</td>
                                        <td>{{ mediaFile.maxBitrate }}</td>
                                        <td>{{ mediaFile.width }}</td>
                                        <td>{{ mediaFile.height }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
